.circle-container {
    height: 30px;
    width: 30px;
    padding: 10px 5px;
    border-radius: 50%;
    border: 1px solid rgb(14, 14, 14);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
}